html{height: 100%;width: 100%; margin: 0em;}

*{margin: 0em;}

a{
	text-decoration: none;
	color: #000;
}

.devoluciones{
	overflow: hidden;
	padding: 0.875em;
	background: #000000;
	font-size: 0.937em;
	font-family: "arial";
    font-weight: bold; 
    position: fixed;
    width: 100%;
    z-index: 235167;
}

#izquierda{
	margin-top: -0.3437em;
	position: absolute;
	z-index: 1;
	left: 33%;	
	list-style: none;
}

#derecha{
	margin-top: -0.3437em;
	margin-right: 2em;
	position: absolute;
	z-index: 2;
	right: 0em;
	list-style: none;
}

.limpiar{ 
	clear: both;
}

#menu {
	display: block;
	background: #F4F4F4;
	top: 2.8%;
	left: 0%;
	position: fixed;
	width: 100%;
	height: 8%;
	z-index: 235168;
}
 
#menu .barra{
	list-style:none;
	margin-top: -0.5%;
	margin-left: 24%;
}

#menu .barra li {
	display:inline-block;
	position: relative;
}

#menu .barra li a {
	color: black;
	font-family: 'Dosis', sans-serif;
	font-size: 150%;
	display:block;
	text-decoration:none;
	padding: 30px;

}
#menu .barra li a: hover{
	font-weight: bold;
}

#menu .usuario{
	color: black;
    position: absolute;
    left: 91%;
    margin-top: -6%;
    z-index: 1;
}

#menu .bolsa{
	color: black;
    position: absolute;
    left: 95%;
    margin-top: -6.2%;
    font-size: 0.7em;
}
.sesion{
	width: 100%;
	list-style: none;
	font-size: 1.5em;
	text-align: right;
}

.sesion li{
	display: inline-block;
	margin-top: -20em;
	margin-right: 0.5em;
}

#menu .busqueda{
	position: absolute;
	margin-top: -6.2%;
	left: 87%;
}

#menu .logo{ 
	position: absolute;
	width: 10%;
	height:50%;
	top: 25%;
	left: -2%;
}
.dev_responsive{display: none;}

.contenedorPrincipal{
	position: absolute;
	margin-top: 2em;
	width: 100%;
	height: 100%;
}

/*Parte de menú desplegable */
.menuDesplegable {
	width: 15%;
	padding: 0em;
    position: absolute;
    margin-left: 1.875em;
    margin-top: 11em;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

.menuDesplegable h3 {
	cursor: pointer;
	padding: 1em;
	background-color:#F4F4F4;
}
.menuDesplegable ul, li {
	list-style: none;
}

.menuDesplegable li {
	padding: 0.5em;
	background:#eee;
}
.menuDesplegable .seleccionado {
	background: #b3b3b3;
	color: #FFF;
}

.menu_bar {
	display:none;
}

/*Sección imágenes*/
.modelo1{  
	position: absolute;
	margin-left: 21em;
	margin-top: 11em;
	float:left;
}
.icon-price-tags:before {
 	content: "\e936";
 	font-size: 80%;
	margin-left: -115%;
}
span{
	position: absolute;
	display: block;
	color: black;
	font-family: 'Ranga', cursive;
	font-size: 30px;
	text-decoration: none;
	margin-left: 20%;
}

.modelo2{	  
	position: absolute;
	margin-left: 36em;
	margin-top: 11em; 
	float:left;
}

.modelo3{  
	position: absolute;
	margin-left: 51em;
	margin-top: 11em; 
	float:left;
}

.modelo4{  
	position: absolute;
	margin-left: 21em;
	margin-top: 40em;
	float:left ;
}

.modelo5{  
	position: absolute;
	margin-left: 36em;
	margin-top: 40em; 
	float:left;
}

.modelo6{	  
	margin-left: 51em;
	margin-top: 40em; 
	float:left;
	position: absolute;
}

.modelo7{  
	margin-left: 21em;
	margin-top: 70em;
	float:left;
	position: absolute;
}

.modelo8{	  
	margin-left: 36em;
	margin-top: 70em; 
	float:left;
	position: absolute;
}

.modelo9{  
	margin-left: 51em;
	margin-top: 70em; 
	float:left;
	position: absolute;
}

.limpiar{ 
	clear: both;
}

#piePagina {
	position: absolute;
	bottom: 4em;
	left: 4em;
	top: 100em;
	font-family: arial;
}

#piePagina ul li{
	list-style: none;
}

.negrita{
	font-weight: bold;
}

.logos, .nosotros, .garantias, .atencion, .pagos {
	position: relative;
	display: inline-block;
}

/*Grises para logos*/
.logos li img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.logos li:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/*fin grises para logos*/

.insta, .fb, .pint, .tw {
	position: relative;
	display: inline-block;	
	bottom: 2.2em;
}

.nosotros, .garantias, .atencion {
	margin-left: 4em;
	line-height: 0.9em;
}

.pagos{
	margin-left: 2em;
}

.visa, .mastercard, .maestro, .paypal {
	position: relative;
	display: inline-block;		
	margin-left: 1em;
	bottom: 2em;
}

.mercado{
	position: absolute;
	bottom: -5em;
	margin: 1em;
	left: -4em;
	top: 8em;
	font-size: 0.8em;
}