


@media screen and (max-width: 980px){
	

/*Sección cabecera banner negro*/
	#izquierda{
	    margin: left;
	    left: 1em;
	}

	/*Sección inicio sesión, hazte socio,compra y búsqueda*/
	 
	.menu_bar {
	    display:block;
	    position: absolute;
	    top:-8%;
	    height: 10%;
	    background:#f4f4f4;
	    width: 100%;
	}
	     
	.menu_bar .menu {
	    position: absolute;
	    margin-top: 2%;
	    left: 2%;
	    overflow: hidden; 
	}

	.menu_bar .logo{
	    position: absolute;
	    left: 20%;   
	}

	.menu_bar .usuario{
	    position: absolute;
	    left: 90%;
	    margin-top: 2%;
	}

	.menu_bar .bolsa{
	    position: absolute;
	    left: 95%;
	    margin-top: 2%;
	}

	#menu {
	    width: 100%;
	    top: 2%;
	    position: absolute;
	    left: -100%;
	    /*Esta a la izquierda al -100% para que no se vea, cuando cargas el JS, éste le ordena que lo ponga a la izquiera con left:0*/
	    margin: 0;
	    overflow: scroll;
	}
	     
	#menu ul li {
	    display: block;
	}
	     
	#menu ul li a {
	    display: block;
	}

	/*Parte de imagen y características */
	#abrigo{
		margin-left:30%; 
		margin-top: 12em;
		padding: 0;
		float: left;
		padding: 1.56em;
		width: 40%;
		height: 40%;
		
	}

	#caracteristicas{
		position: absolute;
		margin-top: 19.25em;
		margin-left: 5.5%;

	}

	.iten{
		font-family: arial;
		font-size: 1.3em;

	}

	.ref{
		font-family: arial;
		font-size: 0.625em;
		margin-top: 0.3125em;
	}

	.precio{
		font-family: arial;
		font-size: 1.3em;
		font-weight: bold;
		margin-top: 0.425em;
	}

	.seleccioncolor{
		font-size: 0.6875em;
		font-family: "arial";

		position: absolute;
		margin-left: 15.5%;
		margin-top: 30.475em;
	}
	.cuadrocolor1{
		height: 1.1875em;
		width: 1.375em;
		background: #8B4513;
		position: absolute;
		margin-left: 21.2%;
		margin-top: 22.075em;
	}
	.cuadrocolor2{
		height: 1.1875em;
		width: 1.375em;
		background: #4682B4;
		position: absolute;
		margin-left:25.5%;
		margin-top: 22.075em;
	}

	.tallasdisponibles{
		font-size: 0.6875em;
		font-family: "arial";
		float: left;
		position: absolute;
		margin-left:15.5%;
		margin-top: 34.625em;
	}

	a{
		text-decoration: none;
		color: black;
	}
	.tallaS{
		height: 1.5%;
		width: 1.5%;
		background: #D3D3D3;
	padding: 1%;
		text-align: center;
		font-size: 1em;
		font-family: "arial";
		position: absolute;
		margin-left:14.3%;
		margin-top: 25.325em;
	}
	.tallaM{
		height: 1.5%;
		width: 1.5%;
		background: #D3D3D3;
		padding: 1%;
		text-align: center;
		font-size: 1em;
		font-family: "arial";
		position: absolute;
	margin-left:19.5%;
		margin-top: 25.325em;
	}
	.tallaL{
		height: 1.5%;
		width: 1.5%;
		background: #D3D3D3;
	padding: 1%;
		text-align: center;
		font-size: 1em;
		font-family: "arial";
		float: left;
		position: absolute;
	margin-left:24.6%;
		margin-top: 25.325em;
	}

	a.añadir{
		text-decoration: none;
		color: white;
	}
	.cesta{
		height: 1.9375em;
		width: 8.625em;
		background: #000000;
		padding: 5px;
		text-align: center;
		font-size: 12px;
		font-family: "arial";
		position: absolute;
		margin-left:15.8%;
		margin-top: 37.825em;
	}

	.logos{
	 	z-index: 1;
	 	position: absolute;
	 	margin-left: 43%;
	 	margin-top: 108%;
	}

 	.sesion,.busqueda,.mazo{display: none;}
    .menuDesplegable{display: none;}
    #menusuperior{display: none;}
    #propiedadesListas{display: none;}
    .pagos{display: none;}
    #mercado{display: none;}
    #personal{display: none;}

}

/*para dispositivo de 700px o menos*/
@media screen and (max-width: 750px){


 .dev_responsive{
        display: inline;
        overflow: hidden;
        padding: 1em;
        background: #000000;
        font-size: 0.937em;
        font-family: "arial";
        font-weight: bold; 
        float:left;
        width: 100%;
    }

    #nuevoIzquierda{
        margin-top: 0em;
        font-size: 0.9em;
        color: white;
    }

    #nuevoDerecha{
        margin-right: 0.8em;
        font-size: 0.9em;
        position: relative;
        color: white;
    }

/*Apartado logo*/
.mazo{
    position: absolute;
    margin-left: 30%;
    margin-top: 1em;
    width: 40%;
}


/*Parte de imagen y características */
#abrigo{
	margin-left:36%; 
	margin-top: 15.9em;
	padding: 0;
	float: left;
	padding: 1.56em;
	width: 30%;
	height: 30%;
	
}

#caracteristicas{
	position: absolute;
	margin-top: 14.25em;
	margin-left: 5.5%;

}

.iten{
	font-family: arial;
	font-size: 1em;

}

.ref{
	font-family: arial;
	font-size: 0.625em;
	margin-top: 0.3125em;
}

.precio{
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0.425em;
}


.seleccioncolor{
	font-size: 0.4875em;
	font-family: "arial";

	position: absolute;
	margin-left: 17.5%;
	margin-top: 42.475em;
}
.cuadrocolor1{
	height: 1em;
	width: 1em;
	background: #8B4513;
	position: absolute;
	margin-left: 19.2%;
	margin-top: 22.075em;
}
.cuadrocolor2{
	height: 1em;
	width: 1em;
	background: #4682B4;
	position: absolute;
	margin-left:24.3%;
	margin-top: 22.075em;
}

.tallasdisponibles{
	font-size: 0.4875em;
	font-family: "arial";
	float: left;
	position: absolute;
	margin-left:17.5%;
	margin-top: 48.475em;
}

a{
	text-decoration: none;
	color: black;
}
.tallaS{
	height: 1.2%;
	width: 1.2%;
	background: #D3D3D3;
    padding: 1%;
	text-align: center;
	font-size: 0.7em;
	font-family: "arial";
	position: absolute;
	margin-left:14.3%;
	margin-top: 36.325em;
}
.tallaM{
	height: 1.2%;
	width: 1.2%;
	background: #D3D3D3;
	padding: 1%;
	text-align: center;
	font-size: 0.7em;
	font-family: "arial";
	position: absolute;
margin-left:19.5%;
	margin-top: 36.325em;
}
.tallaL{
	height: 1.2%;
	width: 1.2%;
	background: #D3D3D3;
padding: 1%;
	text-align: center;
	font-size: 0.7em;
	font-family: "arial";
	float: left;
	position: absolute;
margin-left:24.6%;
	margin-top: 36.325em;
}

a.añadir{
	text-decoration: none;
	color: white;
}
.cesta{
	height: 4.5%;
	width: 10%;
	background: #000000;
	padding: 8px;
	text-align: center;
	font-size: 12px;
	font-family: "arial";
	position: absolute;
	margin-left:15.8%;
	margin-top: 37.825em;
}

.logos{
 	z-index: 1;
 	position: absolute;
 	margin-left: 43%;
 	margin-top: 40em;
}

.devoluciones{display: none;}

}



/*para dispositivo de 480 px o menos*/
@media screen and (max-width: 480px){


.devoluciones{
    font-size: 0.8em;
}

/*Parte de imagen y características */
#abrigo{
	margin-left:36%; 
	margin-top: 20.9em;
	padding: 0;
	float: left;
	padding: 1.56em;
	width: 40%;
	height: 40%;
	
}

#caracteristicas{
	position: absolute;
	margin-top: 42.25em;
	margin-left: 32.5%;

}

.iten{
	font-family: arial;
	font-size: 1.5em;

}

.ref{
	font-family: arial;
	font-size: 0.625em;
	margin-top: 0.3125em;
}

.precio{
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0.425em;
}

.seleccioncolor{
	display: none;
	font-size: 0.4875em;
	font-family: "arial";

	position: absolute;
	margin-left: 15.5%;
	margin-top: 42.475em;
}
.cuadrocolor1{
	display: none;
	height: 1em;
	width: 1em;
	background: #8B4513;
	position: absolute;
	margin-left: 21.2%;
	margin-top: 22.075em;
}
.cuadrocolor2{
	display: none;
	height: 1em;
	width: 1em;
	background: #4682B4;
	position: absolute;
	margin-left:24.3%;
	margin-top: 22.075em;
}

.tallasdisponibles{
	display: none;
	font-size: 0.4875em;
	font-family: "arial";
	float: left;
	position: absolute;
	margin-left:15.5%;
	margin-top: 48.475em;
}

a{
	text-decoration: none;
	color: black;
}
.tallaS{
	display: none;
	height: 1.2%;
	width: 1.2%;
	background: #D3D3D3;
padding: 1%;
	text-align: center;
	font-size: 1em;
	font-family: "arial";
	position: absolute;
	margin-left:14.3%;
	margin-top: 25.325em;
}
.tallaM{
	display: none;
	height: 1.2%;
	width: 1.2%;
	background: #D3D3D3;
	padding: 1%;
	text-align: center;
	font-size: 1em;
	font-family: "arial";
	position: absolute;
margin-left:19.5%;
	margin-top: 25.325em;
}
.tallaL{
	display: none;
	height: 1.2%;
	width: 1.2%;
	background: #D3D3D3;
padding: 1%;
	text-align: center;
	font-size: 1em;
	font-family: "arial";
	float: left;
	position: absolute;
margin-left:24.6%;
	margin-top: 25.325em;
}

a.añadir{
	text-decoration: none;
	color: white;
}
.cesta{
	height: 4.5%;
	width: 16%;
	background: #000000;
	padding: 6px;
	text-align: center;
	font-size: 12px;
	font-family: "arial";
	position: absolute;
	margin-left:55.8%;
	margin-top: 59.225em;
}



.logos{
 	z-index: 1;
 	position: absolute;
 	margin-left: 38%;
 	margin-top: 50em;
}


#mercado {display: none;}
.pagos {display: none;}
#propiedadesListas{display: none;}

}	
