@charset "UTF-8";
/* CSS Document */
.velo {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.modal {
	position: fixed;
	left: 50%;
	top: 40%;
	background: rgba(255,255,255,0.92);
	padding: 20px;
	width: 620px;
	height: 660px;
	z-index: 1001;
	margin: -200px 0 0 -300px;
}

.boton,.acceder,.nuevoUsuiario,.enviar {
	padding: 8px 12px;
	background: rgb(206, 196, 196);
	border: 1.2px solid #222;
	font-size: 13px;
	color: black;
	border-radius: 4px;
	text-transform: uppercase;
	margin-left: 11.25em;
	cursor: pointer;
}

.nuevoUsuiario.acceder {
	padding: 8px 12px;
	background: #444;
	border: 2px solid #222;
	font-size: 13px;
	color: #EEE;
	border-radius: 4px;
	text-transform: uppercase;
	margin-left: 11.25em;
	cursor: pointer;
}


.logo{ 
	position: relative;
	margin-top: 0em;
	margin-left: 9em;
	width: 17em;
	height: 9em;
}


.modal .registro {
	position: relative;
	top: 0em;
	left: 15em;
}
.modal .cerrar {
	position: relative;
	top: 0em;
	left: 18em;
}
#registro{
	position: absolute;
	margin-left: 35%;
	margin-top: 16em;
}

#formulario{
	margin: 1.5em;
}

#formulario label{
	width: 30%;
	float: left;
}

#formularioUsuario{
	margin: 1.5em;
}

#formularioUsuario label{
	width: 30%;
	float: left;
}

/*dispositivo que se mostrará cuando el usuario pulse a boton acceder y no haya introducido alguno de los datos*/
.errores {
display: none;
position: absolute;
font-size: 0.9em;
margin-top: -1.2em;
margin-left: 29em;
}
